.entrar {
    border-radius: 20px;
    background: #61CE70;
    border: none;
    padding: 10px 30px;
    margin-top: 20px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    align-items: flex-start;
    font-size: 15px;
}

.message-error {
    margin: 0;
    margin-top: -10px;
    font-size: 12px;
    color: red;
}


.btn {
    border-bottom: #61CE70 solid 1px;
    margin-bottom: 20px;
}

.background {
    background-image: url("../../img/fundo.png");
    height: 100vh;
    background-position: center center;
    background-size: cover;

}

.pagLogin {
    width: 400px;
    height: 300px;
    border-radius: 20px;
    border: #61CE70 solid 1px;
    padding: 25px 50px;
    background-color: rgba(255, 255, 255, 0.78);
}



.elemento-background {
    background-color: #102638c2;
    width: 100vw;
    height: 100vh;
}

.PagLoginBackground {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
}